<div class="row">
    <div class="col-md-8" *ngIf="blogEntry" [app-emphasize]="'.title, .entry'" [color]="'#e6ffff'">
        <h3 class="title"> 
            {{blogEntry.title | title}}
        </h3>
        <div *ngIf="blogEntry.createdAt">{{blogEntry.createdAt | date:"dd.MM.yy hh:mm:ss"}}</div>
        <div *ngIf="blogEntry.updatedAt">{{blogEntry.updatedAt | date:"dd.MM.yy hh:mm:ss"}}</div>
        <div class="entry">{{blogEntry.entry}}</div>
        <app-comment-list *ngIf="showComments" [comments]="blogEntry.comments"></app-comment-list>
    </div>
    <div class="col-md-4">
        <app-comment-form (saveComment)="saveComment($event)" *ngIf="showComments"></app-comment-form>
    </div>
</div>