* { /* vazi za sve */
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #808e5b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.6; /* preporucena visina */
}

#kontejner {
    width: 800px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid white;
}

h1 {
    font-size: 60px;
    margin-top: 10px;
}

.crveniTekst {
    color: red;
}

.crniTekst {
    color: black;
}

nav>ul { /* moze sa i bez >, > znaci da je roditelj */
    list-style: none; /* izbacili tufne */
    text-align: right;

}

nav>ul li { /* element liste */
    display: inline-block; /* blok se predstavlja kao inline document */
    margin: 10px 15px;
    font-size: large;
}

nav ul li a { /* podvuceno i plavo su defaultna ponasanja za ovaj tag, zato ovdje */
    color: white;
    text-decoration: none;
}

nav ul li a:hover { /* kad je prekriven misom */
    color: red;
}

#lijeva {
    display: inline-block;
    width: 52%;
}

#desna {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin-top: 10px;
}

#desnalijeva {
    width: 45%;
    display: inline-block;
    margin-right: 10%;
    vertical-align: top;
    margin-top: 10px;
}

#desnadesna {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

p {
    text-align: justify;
    margin-top: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid white;
    text-align: right;
    padding-top: 5px;
}

h1,
h2 {
    font-weight: 500;
}