appnope==0.1.3
asttokens==2.2.1
backcall==0.2.0
cloudpickle==2.2.1
comm==0.1.2
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
executing==1.2.0
fonttools==4.38.0
gymnasium==0.27.1
gymnasium-notices==0.0.1
ipykernel==6.20.2
ipython==8.9.0
jax-jumpy==0.2.0
jedi==0.18.2
jupyter_client==8.0.2
jupyter_core==5.2.0
kiwisolver==1.4.4
matplotlib==3.6.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.24.1
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pygame==2.1.3.dev8
Pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
pyzmq==25.0.0
six==1.16.0
stack-data==0.6.2
tornado==6.2
traitlets==5.9.0
typing_extensions==4.4.0
wcwidth==0.2.6
